$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeue-webfont.woff2') format('woff2'),
  url('../fonts/BebasNeue-webfont.woff') format('woff'),
  url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
  url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_regular';
  src: url('../fonts/AvenirNextLTPro-Regular-webfont.eot');
  src: url('../fonts/AvenirNextLTPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Regular-webfont.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Regular-webfont.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Regular-webfont.ttf') format('truetype'),
  url('../fonts/AvenirNextLTPro-Regular-webfont.svg#avenir_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body, html, .wrapper {
  height: 100%;
}
/* Space out content a bit */
body {
  padding: 0
}

.wrapper {
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#top-menu {
  position: absolute;
  height: 35px;
}

.clear {
  display: block;
  clear: both;
}

.menu-links, .net-links {
  ul {
    padding: 0;
  }
  li {
    display: block;
    float: left;
    list-style: none;
  }
  a {
    display: block;
    color: #fff;
  }
}

.menu-links {
  margin-left: 10px;
  li {
    margin: 0 2px;
    a {
      display: table-cell;
      font-family: 'avenir_regular', sans-serif;
      width: 100px;
      text-align: center;
      height: 40px;
      vertical-align: middle;
      padding: 0 5px;
      font-size: 13px;
      line-height: 16px;
      font-weight: bold;
      text-decoration: none !important;
      background: #E42C2C;
      -webkit-transition: 0.2s linear all;
      -moz-transition: 0.2s linear all;
      -ms-transition: 0.2s linear all;
      -o-transition: 0.2s linear all;
      transition: 0.2s linear all;
      &.active, &:hover {
        color: #E42C2C;
        background: #fff;
      }
    }
  }
}

.net-links {
  margin-right: 10px;

  li a {
    width: 35px;
    height: 35px;
    margin: 0 0 0 5px;
    background: url(../images/net-links.jpg) no-repeat;
  }
  li.fb-net a {
    background-position: 0 0;
  }
  li.tw-net a {
    background-position: -39px 0;
  }
}

.container {
  padding: 0;
  margin: 0;
  width: 100% !important;
  max-width: 1262px !important;
}

.section {
  min-height: 100%;
  padding-bottom: 20px;
  color: #fff;
  h1 {
    padding: 0;
    margin: 70px 0 0 0;
    text-align: center;
    font-size: 77px;
    font-family: 'bebas_neueregular', sans-serif;
    span.legend {
      display: block;
      font-family: 'avenir_regular', sans-serif;
      font-size: 17px;
    }
    span.large {
      text-align: left;
      display: block;
      margin: 0 auto;
    }
  }
}

.section.container {
  display: none;
  &.active {
    display: block;
  }
}

.video-large {
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.section {
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.video-large {
  width: 630px;
  height: 400px;
  margin: 50px auto 0 auto;
  overflow: hidden;
  position: relative;
  opacity: 0;
  display: none;
  iframe {
    height: 400px !important;
  }
}

.video-large-inner {
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
}

.video-large, .video-thumb {
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0
  }
}

.video-large-inner:hover, .video-thumb-inner:hover {
  cursor: pointer;
  .button-player {
    opacity: 1;
  }
}

#section-one {
  background: url(../images/institucional_r.jpg) no-repeat center center;
  h1 {
    margin-top: 145px;
    //line-height: 70px;
  }
}

#section-two {
  background: url(../images/ta_resolvido_r.jpg) no-repeat center center;
  h1 {
    margin-top: 145px;
  }
}

#section-tree {
  background: url(../images/volvo_ocean_race_r.jpg) no-repeat top center;
  h1 {
    font-size: 77px;
    margin-top: 125px;
    margin-bottom: 60px;
    line-height: 65px;
    span.large {
      width: 162px;
    }
  }
}

#section-four {
  background: url(../images/traduzindo_o_segures_r.jpg) no-repeat top center;
  h1 {
    font-size: 77px;
    margin-top: 145px;
    line-height: 75px;
    span.large {
      width: 310px;
    }
  }
}

#section-five {
  background: url(../images/stock_car_r.jpg) no-repeat top center;
  h1 {
    font-size: 77px;
    margin-top: 128px;
    margin-bottom: 80px;
    line-height: 75px;
  }
  span.large {
    width: 150px;
    margin: 0 auto;
  }
}

#section-six {
  background: url(../images/outubro_rosa_r.jpg) no-repeat top center;
  h1 {
    font-size: 80px;
    line-height: 75px;
    margin-top: 125px;
    span.large {
      padding-left: 95px;
      background: url(../images/outubro_rosa_title.png) no-repeat left top;
      width: 350px;
    }
  }
}

#section-seven {
  background: #ccc;
  h1 {
    margin-top: 125px;
    line-height: 75px;
  }
  span.large {
    width: 260px;
  }
}

.featured-title {
  display: block;
  width: 100%;
  font-family: 'avenir_regular', sans-serif;
  font-weight: 600;
  position: absolute;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  background: #333;
  background: rgba(0, 0, 0, 0.65);
}

.button-player {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  background: url(../images/play_l.png) no-repeat;
  opacity: 0.8;
}

.fb-share, .tw-share {
  background: url(../images/icons.png) no-repeat;
  display: inline-block;
}

.list-videos .video-thumb.is-expanded.hoverled, .featured-title {
  .fb-share, .tw-share {
    margin-top: 8px;
    height: 25px;
  }
  .fb-share {
    width: 20px;
    margin-right: 5px;
    background-position: 0 0;
  }
  .tw-share {
    width: 30px;
    background-position: -30px 0;
    margin-right: 3px;
  }
}

.video-large.large-hoverled {
  .video-large-inner {
    bottom: 0;
  }
  .featured-title {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    display: block !important;
    bottom: -40px;
  }
  &:hover {
    .featured-title {
      bottom: 0;
    }
  }
}

.featured-title {
  padding-left: 5px
}

.share-icons {
  //margin: 7px 0 0 5px;
  height: 35px;
}

.full {
  display: none;
}

.excerpt {
  display: inline;
}

.list-videos {
  max-width: 753px;
  margin: 90px auto 0 auto;
  text-align: center;

  .video-thumb.is-expanded {
    width: 495px;
    height: 295px;
  }

  .video-thumb.is-expanded.hoverled {
    .video-title {
      display: block !important;
      bottom: -45px;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;

      .video-title-inner {
        width: 425px;
        height: 45px;
        line-height: 45px;
      }
      .full {
        display: inline;
      }
      .excerpt {
        display: none;
      }
    }
    &:hover {
      .video-title {
        //display: block;
        bottom: 0;
      }
    }
  }

  .video-title-inner {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 185px;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;
  }

  .video-thumb-inner {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .video-thumb {
    width: 245px;
    height: 145px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    overflow: hidden;

    .button-player, .video-title {
      position: absolute;
    }

    .video-title {
      display: block;
      z-index: 999;
      width: 100%;
      bottom: 0;
      padding: 0 0 0 5px;
      text-align: left;
      font-weight: 600;
      background: #333;
      background: rgba(0, 0, 0, 0.65);

      .fb-share, .tw-share {
        height: 35px;
        line-height: 35px;
      }

      .fb-share {
        width: 20px;
        margin-right: 5px;
        background-position: 5px -41px;
      }

      .tw-share {
        width: 28px;
        background-position: -24px -41px;
      }
    }

    .button-player {
      background: url(../images/play_s.png) no-repeat;
      width: 40px;
      height: 40px;
      top: 50%;
      margin-top: -30px;
      left: 50%;
      margin-left: -20px
    }
  }
}
